<!DOCTYPE html>
<html>
	<head>
		<title>CSC309 Individual Project</title>
		<meta name="description" content="CSC309 Individual Project">
		<link rel="stylesheet" href="/src/packages/bootstrap.min.css"/>
		<link rel="stylesheet" href="/src/packages/angular-toastr.min.css"/>
		<link rel="stylesheet" href="/src/packages/style.css"/>
	</head>
	<body id="controller" ng-app="main" ng-controller="MainController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC309 Individual Project</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="logout()">Log out</button>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="create()">Create new Idea</button>
        		</div>
			</div>
		</nav>
		<div class="container">
			<h3>Hello, {{username}}</h3>
			<div class="panel panel-default" id="userideas">
				<div class="panel-heading">Your ideas</div>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Tags</th>
							<th>Likes</th>
							<th>Dislikes</th>
						</tr>
					</thead>
					<tbody>
						<tr class="clickable-row" ng-repeat="idea in userIdeas track by $index">
							<td>{{idea.title}}</td>
							<td>{{idea.description}}</td>
							<td>{{idea.category}}</td>
							<td><button class="btn btn-primary" ng-repeat="tag in idea.tags track by $index" disabled>{{tag}}</button></td>
							<td>{{idea.rating.likes}}</td>
							<td>{{idea.rating.dislikes}}</td>
							<td><button class="btn btn-primary" ng-click="view(idea._id)">View</button></td>
							<td><button class="btn btn-warning" ng-click="edit(idea._id, idea.title, idea.description, idea.category, idea.tags, idea.rating.likes, idea.rating.dislikes)">Edit</button></td>
							<td><button class="btn btn-danger" ng-click="remove(idea._id)">Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default" id="otherideas">
				<div class="panel-heading">Ideas of other users</div>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Tags</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th>Author</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="idea in otherIdeas track by $index">
							<td>{{idea.title}}</td>
							<td>{{idea.description}}</td>
							<td>{{idea.category}}</td>
							<td><button class="btn btn-primary" ng-repeat="tag in idea.tags track by $index" disabled>{{tag}}</button></td>
							<td>{{idea.rating.likes}}</td>
							<td>{{idea.rating.dislikes}}</td>
							<td>{{idea.author.name}}</td>
							<td><button class="btn btn-primary" ng-click="view(idea._id)">View</button></td>
							<td><button class="btn btn-success" ng-click="like(idea._id)">Like</button></td>
							<td><button class="btn btn-danger" ng-click="dislike(idea._id)">Dislike</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<script src="/src/packages/jquery.min.js"></script>
		<script src="/src/packages/bootstrap.min.js"></script>
		<script src="/src/packages/angular.min.js"></script>
		<script src="/src/packages/angular-animate.min.js"></script>
		<script src="/src/packages/ui-bootstrap.min.js"></script>
		<script src="/src/packages/toastr.min.js"></script>
		<script src="/src/packages/angular-toastr.tpls.min.js"></script>
		<script src="/src/controllers/main-controller.js"></script>
	</body>
</html>