<!DOCTYPE html>
<html>
	<head>
		<title>CSC309 Individual Project</title>
		<meta name="description" content="CSC309 Individual Project">
		<link rel="stylesheet" href="/src/packages/bootstrap.min.css"/>
		<link rel="stylesheet" href="/src/packages/angular-toastr.min.css"/>
		<link rel="stylesheet" href="/src/packages/style.css"/>
	</head>
	<body id="controller" ng-app="main" ng-controller="MainController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC309 Individual Project</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="logout()">Log out</button>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="create()">Create new Idea</button>
				</div>
			</div>
		</nav>
		<div class="container">
			<div ng-if="(userIdeas).length == 0" class="text-center">
				<div class="main-greeting">Hello</div>
				<div class="main-name">{{username}}</div>
				<div class="main-container btn btn-success" ng-click="create()">Create a new idea</div>
			</div>
			<div ng-if="(userIdeas).length > 0" class="greeting tab">Hello, {{username}}</div>
			<div ng-if="(userIdeas).length > 0" class="panel panel-default">
				<div class="panel-heading">
					<div class="btn disabled"><b>Your ideas</b></div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Tags</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th>Date created</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="idea in userIdeas track by $index">
							<td class="col-md-1">{{idea.title}}</td>
							<td class="col-md-2">{{idea.description}}</td>
							<td class="col-md-1">{{idea.category}}</td>
							<td class="col-md-2"><div class="tag category blue pull-left" ng-repeat="tag in idea.tags track by $index">{{tag}}</div></td>
							<td class="col-md-1">{{idea.rating.likes}}</td>
							<td class="col-md-1">{{idea.rating.dislikes}}</td>
							<td class="col-md-1">{{idea.parsedDate}}</td>
							<td class="pull-right"><button class="btn btn-primary" ng-click="view(idea._id)">View</button></td>
							<td class="pull-right"><button class="btn btn-danger" ng-click="remove(idea._id, idea.title, idea.description, idea.category, idea.tags)">Remove</button></td>
							<td class="pull-right"><button class="btn btn-warning" ng-click="edit(idea._id, idea.title, idea.description, idea.category, idea.tags, idea.rating.likes, idea.rating.dislikes)">Edit</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn disabled"><b>Other ideas</b></div>
					<button ng-if="(categoryPreference).indexOf('Travel') > -1" class="btn tag pull-right color color-travel" ng-click="toggle('Travel')">Travel</button>
					<button ng-if="(categoryPreference).indexOf('Travel') == -1" class="btn tag pull-right blank" ng-click="toggle('Travel')">Travel</button>
					<button ng-if="(categoryPreference).indexOf('Finance') > -1" class="btn tag pull-right color color-finance" ng-click="toggle('Finance')">Finance</button>
					<button ng-if="(categoryPreference).indexOf('Finance') == -1" class="btn tag pull-right blank" ng-click="toggle('Finance')">Finance</button>
					<button ng-if="(categoryPreference).indexOf('Education') > -1" class="btn tag pull-right color color-education" ng-click="toggle('Education')">Education</button>
					<button ng-if="(categoryPreference).indexOf('Education') == -1" class="btn tag pull-right blank" ng-click="toggle('Education')">Education</button>
					<button ng-if="(categoryPreference).indexOf('Technology') > -1" class="btn tag pull-right color color-technology" ng-click="toggle('Technology')">Technology</button>
					<button ng-if="(categoryPreference).indexOf('Technology') == -1" class="btn tag pull-right blank" ng-click="toggle('Technology')">Technology</button>
					<button ng-if="(categoryPreference).indexOf('Health') > -1" class="btn tag pull-right color color-health" ng-click="toggle('Health')">Health</button>
					<button ng-if="(categoryPreference).indexOf('Health') == -1" class="btn tag pull-right blank" ng-click="toggle('Health')">Health</button>
					<div class="btn disabled pull-right">Displaying:</div>

<form class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="filterTags" placeholder="Enter tags">
		<button class="btn btn-default" ng-click="filter()">Filter</button>
		<button class="btn btn-default" ng-click="clearFilter()">Clear filter</button>
	</div>
</form>
				</div>
				<div ng-if="(otherIdeas).length == 0" class="container text-center">
					<div>Ideas from other users will show up here.<br>Currently there are no ideas that match your preferences</div>
				</div>
				<table ng-if="(otherIdeas).length > 0" class="table">
					<thead>
						<tr>
							<th ng-if="sortingPreferenceOrder == -1" class="btn" ng-click="sort(1, 'normalized')"><b>Title</b><span class="glyphicon glyphicon-chevron-down"></span></th>
							<th ng-if="sortingPreferenceOrder == 1" class="btn" ng-click="sort(-1, 'normalized')"><b>Title</b><span class="glyphicon glyphicon-chevron-up"></span></th>
							<th>Description</th>
							<th>Category</th>
							<th>Tags</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th ng-if="sortingPreferenceOrder == -1" class="btn" ng-click="sort(1, 'date')"><b>Date created</b><span class="glyphicon glyphicon-chevron-down"></span></th>
							<th ng-if="sortingPreferenceOrder == 1" class="btn" ng-click="sort(-1, 'date')"><b>Date created</b><span class="glyphicon glyphicon-chevron-up"></span></th>
							<th>Author</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="idea in otherIdeas track by $index">
							<td class="col-md-1">{{idea.title}}</td>
							<td class="col-md-2">{{idea.description}}</td>
							<td class="col-md-1">{{idea.category}}</td>
							<td class="col-md-2"><div class="tag category blue pull-left" ng-repeat="tag in idea.tags track by $index" disabled>{{tag}}</div></td>
							<td class="col-md-1">{{idea.rating.likes}}</td>
							<td class="col-md-1">{{idea.rating.dislikes}}</td>
							<td class="col-md-1">{{idea.parsedDate}}</td>
							<td class="col-md-1">{{idea.author.name}}</td>
							<td class="pull-right"><button class="btn btn-primary" ng-click="view(idea._id)">View</button></td>
							<td class="pull-right" ng-if="(ratings.dislikes).indexOf(idea._id) == -1"><button class="btn btn-default" ng-click="dislike(idea._id, idea.title, idea.description, idea.category, idea.tags)">Dislike</button></td>
							<td class="pull-right" ng-if="(ratings.dislikes).indexOf(idea._id) > -1"><button class="btn btn-danger" ng-click="dislike(idea._id, idea.title, idea.description, idea.category, idea.tags)">Dislike</button></td>
							<td class="pull-right" ng-if="(ratings.likes).indexOf(idea._id) == -1"><button class="btn btn-default" ng-click="like(idea._id, idea.title, idea.description, idea.category, idea.tags)">Like</button></td>
							<td class="pull-right" ng-if="(ratings.likes).indexOf(idea._id) > -1"><button class="btn btn-success" ng-click="like(idea._id, idea.title, idea.description, idea.category, idea.tags)">Like</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="border">
				<label>Distribution of categories</label>
				<div id="chartdiv"></div>				
			</div>
		</div>

		<script src="/src/packages/jquery.min.js"></script>
		<script src="/src/packages/bootstrap.min.js"></script>
		<script src="/src/packages/angular.min.js"></script>
		<script src="/src/packages/angular-animate.min.js"></script>
		<script src="/src/packages/ui-bootstrap.min.js"></script>
		<script src="/src/packages/toastr.min.js"></script>
		<script src="/src/packages/angular-toastr.tpls.min.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
		<script src="/src/controllers/main-controller.js"></script>
	</body>
</html>