<!DOCTYPE html>
<html>
	<head>
		<title>CSC309 Individual Project</title>
		<meta name="description" content="CSC309 Individual Project">
		<link rel="stylesheet" href="/src/packages/bootstrap.min.css"/>
		<link rel="stylesheet" href="/src/packages/angular-toastr.min.css"/>
		<link rel="stylesheet" href="/src/packages/style.css"/>
	</head>
	<body id="controller" ng-app="root" ng-controller="RootController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC309 Individual Project</a>
				</div>		
			</div>
		</nav>
		<div class="container text-center">
			<h4>Shihan Ai</h4>
			<h2>CSC309 Individual Project</h2>
			<button class="btn btn-default" ng-click="login()">Log in</button>
			<button class="btn btn-default" ng-click="signup()">Sign up</button>
		</div>
		<script src="/src/packages/jquery.min.js"></script>
		<script src="/src/packages/bootstrap.min.js"></script>
		<script src="/src/packages/angular.min.js"></script>
		<script src="/src/packages/angular-animate.min.js"></script>
		<script src="/src/packages/ui-bootstrap.min.js"></script>
		<script src="/src/packages/toastr.min.js"></script>
		<script src="/src/packages/angular-toastr.tpls.min.js"></script>
		<script src="/src/controllers/root-controller.js"></script>
	</body>
</html>