<!DOCTYPE html>
<html>
	<head>
		<title>CSC309 Individual Project</title>
		<meta name="description" content="CSC309 Individual Project">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/src/angular-toastr/angular-toastr.min.css"/>
	</head>
	<body id="controller" ng-app="root" ng-controller="RootController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC309 Individual Project</a>
				</div>		
			</div>
		</nav>
		<div class="container text-center">
			<h4>Shihan Ai</h4>
			<h2>CSC309 Individual Project</h2>
			<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
			<button class="btn btn-default" ng-click="login()">Log in</button>
			<button class="btn btn-default" ng-click="signup()">Sign up</button>
		</div>
		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
		<script src="/src/angular-toastr/angular-toastr.tpls.min.js"></script>
		<script src="/src/controllers/root-controller.js"></script>
	</body>
</html>