Idea
	- Title
	- Description
	- (Health | Technology | Education | Finance | Travel)
	- Tags
	- Likes
	- Dislikes
	- Date created

User 
	- Name
	- Email (login)
	- Password

Features
	x- User can register in the server
	x- User can login (sesssion is created) and logout of the service (session has to be deleted)
	x- User can post new start-up ideas
	x- User can see her submitted start-up ideas and can edit or delete an idea
	x- User can navigate already submitted ideas of other users
	- User can see details of a specific idea (an individual page for each idea is expected)
	- User can express preference in favor or against an idea (like or dislike function)
	- Filter
	- Alerts/Notifications
	- Generate graph
	- Clean up CSS
	- Comments
